name: Android Feature Branch CI

on:
  push:
    branches:
      - '*'
jobs:
  unit_test:
    name: Run Unit Tests & Espresso Test
    runs-on: macos-10.15
    steps:
      - name: checkout
        uses: actions/checkout@v2
      - name: run java unit tests
        uses: ReactiveCircus/android-emulator-runner@v2.21.0
        with:
          api-level: 29
          script: ./gradlew rootCoverageReport
      - name: upload code coverage report
        uses: codecov/codecov-action@v2.1.0
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          file: ./build/reports/jacoco.xml
          flags: unittests
          name: codecov-umbrella
          fail_ci_if_error: false
